header {
    figure {
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
        }
    }
}


main {
    width: 90%;
    margin: 0 auto 10em;
    transition: margin-left 0.5s;


    h1 {
        text-align: center;
        margin: 1em;
    }

    section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        @media (max-width: 1100px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 1050px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 740px) {
            grid-template-columns: 1fr;
            gap: 2em;
        }

        article {
            background-color: #f5f5f5;

            figure {
                width: 100%;

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
            }

            h3 {
                padding: 1em 1em 0 1em;
                font-size: 1.2em;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 240px;
                white-space: nowrap;
            }

            p {
                display: inline;
                padding: 1em 1em 0;
                height: 80px;
                // max-width: auto;
                overflow: hidden;
            }

            a {
                text-align: center;
                background-color: #000;
                color: #fff;
                display: block;
                padding: 1em;
                margin: 1em 1em 0;
                width: 90%;
                transition: 200ms ease-in-out;

                &:hover {
                    background-color: #395f98;
                }
            }

            .fade {
                bottom: 2em;
                height: 2em;
                position: relative;
                background: linear-gradient(rgba(255, 255, 255, 0) 0%,
                        rgba(245, 245, 245, 1) 100%);
            }
        }
    }

}
