// #main-nav {
//   user-select: none;
//   display: flex;
//   background-color: #252525;
//   box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
//   widows: 100%;
//   height: 100px;
//   transition: margin-left .5s;

//   span {
//       font-size: 2.5rem;
//       float: left;
//       display: block;
//       padding: 1.9rem 1rem;
//       color: #fefefe;
//       @media(min-width:568px){
//           display: none;
//       }
//   }

//   ul {
//       margin: 0 auto;
//       width:60%;
//       display: flex;
//       justify-content: space-around;
//       align-items: center;
//       @media(max-width:567px){
//           display: none;
//       }
//       li {

//           a {
//               float: left;
//               display: block;
//               color: #fefefebb;
//               text-align: center;
//               padding: 14px 16px;
//               font-size: .9rem;
//               transition: .3s;
//               &:hover {
//                   color:#fff;
//               }
//           }
//       }
//       a {
//           h2 {
//               font-size: 3rem;
//               font-family: 'Lobster', cursive;
//               padding: 14px 16px;
//               color: #fefefe;
//           }
//       }
//   }
// }







#main-nav {
  background-color: #fff;
  display: grid;
  grid-template-columns: 30% 1fr 140px;
  padding: 0 5%;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.15);
  transition: margin-left .5s;
  min-height: 100px;
  @media(max-width:1050px){
    grid-template-columns: 30% 70%;
  }


  #menu {
    font-size: 2.5rem;
    display: none;
    padding: 0 0 .2em 0;
    color: #000000;
    align-self: center;
    @media(max-width:1050px){
        display: block;
    }
  }

  figure {
    width: 100px;
    padding: 1em;
    display: flex;
    align-self: center;
    align-items: center;
    // @media(max-width:740px){
    //     display: none;
    // }

    img {
      width: 100%;
    }

    figcaption {
      margin-left: 1em;

      h2 {
        font-size: 1.65em;
        text-transform: uppercase;

        span {
          font-weight: 100;
        }
      }

      p {
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  ul {
    display: flex;
    align-self: flex-end;
    position: relative;
    @media(max-width:1050px){
      display: none;
    }

    #cta {
      background-color: #921d1d;
      color: #fff;
      //   padding: 0.5em 1.2em;
      padding: 0.8em 1.6em;
      white-space: nowrap;
    }

    li {
      position: relative;
      display: block;
      //   padding: 1em;
      padding: 1em 1em 1.5em 1em;

      a {
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: bold;
        color: black;
        white-space: nowrap;
      }

      ul {
        margin-top: 1.5em;
        transform: translateX(-25%);
        position: absolute;
        display: none;
        // display: block;
        // max-height: 0;
        width: 120px;
        background-color: white;
        box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.1);
        text-align: center;
        // transition: max-height ease-in-out 175ms;

        li {
          padding: 1em 0;
          a {
            // display: none;
            // padding-left: 1em;
          }
        }
      }

      &:hover > ul,
      &:hover > span {
        display: block;
      }

      &:hover > ul li a {
        // display: block;
        // opacity: 1;
      }

      span {
        align-self: center;
        position: absolute;
        bottom: -0.2em;
        left: 50%;
        transform: translateX(-50%);
        display: none;
      }
    }
  }

  #search {
    font-size: 1em;
    align-self: flex-end;
    padding: 0em 1em 1.5em;
  }
}
