
<header>
    <app-nav></app-nav>
</header>
<main id="main">
    <h1>PRAKTISK INFO</h1>
    <ul>
        <li>
            <input type="checkbox" checked>
            <i></i>
            <h2>Huskeliste</h2>
            <p>Smøger, øl og godt humør!</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i></i>
            <h2>Tid og sted</h2>
            <p>Festivalen afholdes i august 2020.

                Mediesus Festivalen finder sted på Øster Uttrup Vej i Aalborg.
                Adressen er: Øster Uttrup Vej 1, 9000 Aalborg 
                (ved den nærtliggende motorvej)</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i></i>
            <h2>Program</h2>
            <p>Du kan ved at logge ind sammensætte dit eget program - hvis det ikke har interesse, så kan du også udforske her på stedet. Der er flere visninger og måder at filtre programmet her på siden.</p>
        </li>
    </ul>
    
</main>
<app-footer></app-footer>