<header>
    <app-nav></app-nav>
    <figure>
        <img *ngIf="nyhed" [src]="nyhed.image" alt="nyhed.title" />
    </figure>
</header>
<main id="main" *ngIf="nyhed">
  <h1 >{{nyhed.title}}</h1>
  <p class="headline"></p>
  <section>
    <article>
      <p>{{ nyhed.content }}</p>
      
      
      <span class="time">{{ time(nyhed.datetime)}}</span>
      <span class="author">af {{ nyhed.author }}</span>
      <p *ngFor="let item of nyhed.facilities">{{ item.title }}</p>
    </article>
  </section>
</main>
<app-footer></app-footer>
