<header>
    <app-nav></app-nav>
    <figure>
        <img src="../../../assets/images/buy_header.jpg" alt="headerimage">
    </figure>
</header>
<main id="main">
  <h1>KØB BILLET</h1>
  <section>
    <table id="partout">
        <tr>
          <th>PARTOUT BILLET - ALLE DAGE</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let pbillet of partout">
          <td>{{ pbillet.name }}</td>
          <td>{{ adjustPrice(pbillet.price) }}</td>
          <td><a routerLink="/bestilling/{{pbillet.id}}">KØB NU</a></td>
        </tr>
      </table>
    <table id="enkelt">
        <tr>
          <th>ENKELTBILLETER</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let ebillet of enkelt">
          <td>{{ ebillet.name }}</td>
          <td>{{ adjustPrice(ebillet.price) }}</td>
          <td><a routerLink="/bestilling/{{ebillet.id}}">KØB NU</a></td>
        </tr>
      </table>

  </section>
</main>
<app-footer></app-footer>
