<header>
    <app-nav></app-nav>
    <figure>
        <img src="../../../assets/images/login_header.jpg" alt="headerimage">
    </figure>
</header>
<main id="main">
  <h1>LOGIN</h1>
  <section>

      <form [formGroup]="login" (ngSubmit)="submit()" method="POST">
          <h2>Indtast login oplysninger</h2>
          <label for="username">Brugernavn</label>
          <input type="text" formControlName="username" id="username" placeholder="Indtast dit brugernavn" formControlName="username">
          <div *ngIf="f.username.invalid && f.username.touched" class="error"><p>Brugernavnet er ikke gyldigt</p></div>
          <label for="password">Adgangskode</label>
          <input type="password" formControlName="password" id="password" placeholder="Indtast din adgangskode" formControlName="password">
          <div *ngIf="f.password.invalid && f.password.touched" class="error"><p>Adgangskoden er ikke gyldig</p></div>
          <span class="error" *ngIf="error">{{error}}</span>
        
          <button [disabled]="!login.valid" type="submit">LOGIN</button>
          

          <a routerLink="/glemt">Glemt adgangskode?</a>
    
      </form>
  </section>

</main>
<app-footer></app-footer>
