header {
    figure {
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
        }
    }
}

main {
    width: 70%;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin: 1em;
    }
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 950px) {
            display: block;
        }

        form {
            display: grid;
            margin-bottom: 10em;
            label {
                font-weight: 600;
                font-size: .9em;
                padding: 1em 0 .5em;
            }
            
            input {
                padding: 0.6em;
            }

            span {
                animation: fade 2000ms ease-in-out forwards;
            }

            button {
                font-size: 1em;
                font-weight: 600;
                width: 30%;
                margin-left: auto;
                margin-top: 1.5em;
                border: none;
                padding: 1em;
                color: #fff;
                background-color: #336699;
                &:disabled {
                    opacity: .35;
                    cursor: unset;
                }
            }

            a {
                color: #336699;
            }
        }
    }
    .error {
        color: red;
        font-weight: 100;
        padding: .8em .4em;
        font-size: .8em
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}