#side-nav {
  user-select: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
//   opacity: .75; // Kan slåes fra, altså ikke nødvendig
  overflow-x: hidden;
  padding-top: 60px;
  transition: .5s;

  span {
      cursor: pointer;
      font-size: 2.5rem;
      color:#ccc;
      transition: .3s ease-in-out;
      padding: 1.9rem 1rem;
      position: absolute;
      top: 0;
      right: 22px;
      &:hover {
          color:#fff;
      }
      @media(min-width:568px){
          display: none;
      }
  }

  ul {

      li {

          a {
          white-space: nowrap;
          padding: 10px 10px 10px 30px;
          text-decoration: none;
          font-size: 1rem;
          display: block;
          color:#ccc;
          transition: .3s;
          &:hover {
              color:#fff;
          }
              h2 {

              }
          }
      }
  }
}