<footer>
  <section id="social">
    <h2>FØLG OS</h2>

    <span><i class="fab fa-facebook-f"></i></span>
    <span><i class="fab fa-twitter"></i></span>
  </section>

  <section id="newsletter">
    <form [formGroup]="form">
      <h2>TILMELD NYHEDSBREV</h2>
      <p>Få seneste nyt sendt direkte til din indbakke</p>

      <div class="input">
        <input type="email" formControlName="email" id="email" placeholder="Indtast din email"/>
        <button [disabled]="!form.valid" (click)="submit()" type="button" >Tilmeld nyhedsbrev</button>
      </div>
    </form>
    <div *ngIf="email.invalid && email.touched" id="error"><p>Indtast en gyldig email</p></div>
    
   
  </section>
  <section id="hancock">

    <figure>
      <img
        src="../../../assets/images/Hancock-kvalitet-logo.png"
        alt="Hancock"
      />
      <figcaption>
        <h2>- smag forskellen...</h2>
      </figcaption>
    </figure>
  </section>
</footer>
