<header>
    <app-nav></app-nav>
    <figure>
        <img src="../../../assets/images/buy_header.jpg" alt="headerimage">
    </figure>
</header>
<main id="main" *ngIf="billet">
  <h1>KØB BILLET</h1>

  <article>
    
    <h2>INFORMATION OM DEN VALGTE BILLET</h2>
    <section class="description">
        <h3>{{ billet.name }}</h3>
        <p>{{ billet.description }}</p>
    </section>

  </article>

  <section class="details">
      <h2>BESTILLING</h2>

      <form [formGroup]="order" method="POST">

        <section class="prices">
            <input formControlName="antal" type="number" (change)="amplify($event.target.value)" value="1">
            <p>Stk. </p>
            <span>{{ billet.name }}</span>
            <span class="a">á</span>
            <p id="originalprice" >{{ billet.price }} DKK</p>
            <p id="price">{{ price }} DKK</p>
        </section>

        <section class="total">
            <p>Pris i alt:</p>
            <p id="total">{{ price }} DKK</p>
        </section>

        <section class="credentiels">

            <section>
                <h3>Reserver Camp pladser</h3>
                <div>
                    <section>
                        <div>               
                            <label class="labels" for="camppladser">Antal</label>
                            <label class="labels" for="camp">Vælg en camp</label>
                        </div>
                        <input type="number" name="camppladser" id="antal">
                        <select formControlName="camp" id="camp">
                            <option value="1">Camp Kultunaut</option>
                            <option value="2">Camp Colorit</option>
                            <option value="3">Camp De Luxe</option>
                        </select>
                    </section>
                </div>
                <h3>Indtast dine kundeoplysninger</h3>
                <label for="username">Brugernavn</label>
                <input type="text" formControlName="username" id="username" placeholder="Indtast dit brugernavn">
                <label for="password">Adgangskode</label>
                <input type="password" formControlName="password" id="password" placeholder="Indtast en adgangskode">
                <label for="repeat">Gentag adgangskode</label>
                <input type="password" formControlName="repeat" id="repeat" placeholder="Gentag adgangskode">
                <label for="name">Navn</label>
                <input type="text" formControlName="name" id="name" placeholder="Indtast dit navn">
                <label for="address">Adresse</label>
                <input type="text" formControlName="address" id="address" placeholder="Indtast din adresse">
                <div class="postcity">
                    <section>
                        <label class="labels" for="postnumber">Postnummer</label>
                        <label class="labels" for="city">By</label>
                    </section>
                    <input type="number" formControlName="postnumber" id="postnumber">
                    <input type="text" formControlName="city" id="city" placeholder="Indtast din by">
                </div>

            </section>

            <section>

                <h3>Vælg forsendelsesmetode</h3>
                <div class="radio">
                    <input type="radio" value="1" formControlName="radio" id="ship">
                    <label for="ship"> <span> Jeg ønsker billetterne tilsendt.</span> Vi sender billetterne til dig med posten.</label>
                </div>
                <div class="radio">
                    <input type="radio" value="2" formControlName="radio" id="print">
                    <label for="print"> <span> Jeg udskriver billetterne selv.</span> Du modtager billetterne på din e-mail. Du kan så selv udskrive dem, og du sparer således forsendelsesgebyret.</label>
                </div>
                <button (click)="buy()" type="submit">Send</button>


            </section>


        </section>



      </form>



  </section>



  <section>
      

  </section>
</main>
<app-footer></app-footer>
