header {
    figure {
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
        }
    }
}


main {
    width: 70%;
    margin: 0 auto;
    transition: margin-left 0.5s;
    @media (max-width: 800px) {
        width: 100%;
    }

    .error {
        align-self: center;
        font-size: .8em;
        color: red;
    }

    h1 {
        text-align: center;
        margin: 1em 0 1.5em;
    }

    article {
    
        h2 {
            background-color: #292929;
            color: #fff;
            padding: 1em;
            width: 100%;
        }

        section.description {
            padding: 2em 1em 5em;
            text-align: justify;
            letter-spacing: .4px;
            p {
                font-size: .8em;
                font-weight: 500;
            }

            
        
        }

        

    }

    section.details {

            
        h2 {
            background-color: #292929;
            color: #fff;
            padding: 1em;
            width: 100%;
        }

        form {

            section.prices {
                border-bottom: .5px solid #00000080;
                display: flex;
                input {
                    padding: 1em 1em 1.2em;
                    margin: 1.5em 1em;
                    width: 40px;
        
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        appearance: none;
                    }
        
                }

                p, span {
                    align-self: center;
                }

                span {
                    padding: 0 1em;
                }

                span.a {
                    margin-left: auto;
                }

                p#originalprice {
                    margin: 0 5em;
                }

                p#price {
                    margin-right: 2em;
                }

            }

            section.total {
                border-bottom: .5px solid #00000080;
                display: flex;
        
                p {
                    margin: 1em 2em;
        
                    &:nth-child(2) {
                        margin-left: auto;
                    }
        
                    &:nth-child(2) {
                        margin-right: 5em;
                    }
                }
            }

            section.credentiels {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1em;
                padding: 2em 1em;
                margin-bottom: 4em;
                @media (max-width: 850px) {
                    grid-template-columns: 1fr;
                }
                .error {
                    p {
                        padding: 1em .5em 0;
                    }
                }
                section {
                    position: relative;
                    div {


                        section {
                            div {
                                padding: 0 0 1em;
                                .labels {
                                    display: inline;
                                    font-size: .9em;
                                }
                                .labels:first-child {
                                    padding-right: 1em;
                                }
                            }
                            input#antal {
                                display: inline-block;
                                padding: .5em;
                                width: 40px;
                                margin-right: 1em;
                
                                &::-webkit-outer-spin-button,
                                &::-webkit-inner-spin-button {
                                    appearance: none;
                                }

                            }
                        }
                    }
                    h3 {
                        margin: 1em 0;

                    }

                    .postcity {
                        section {
                            padding: 1em 0;
                            .labels {
                                display: inline;
                                font-size: .9em;
                            }
                            .labels:first-child {
                                padding-right: 1em;
                            }
                        }
                        input {
                            display: inline-block;
                            padding: .5em;
                        }
                        input#postnumber {
                            width: 50px;
                            margin-right: 1em;
            
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                appearance: none;
                            }
                        }
                        input#city {
                            width: calc(100% - 65px);
                        }
                    }
                }

                .radio {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    input {
                        width: 100px;
                        height: 1.5em;
                        align-self: center;
                    }
                    label {

                        span {
                            display: block;
                            font-weight: 600;
                        }
                    }

                }

                button {
                    border: none;
                    text-transform: uppercase;
                    background-color: #336699;
                    color: #fff;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 1em 3em;
                    font-size: 1.2em;
                    @media (max-width: 800px) {
                        position: unset;
                        margin-top: 2em;
                    }

                    &:disabled {
                        opacity: .35;
                        cursor: unset;
                    }
                }



                
            
        
                label {
                    display: block;
                    margin-top: 1em;
                    margin-bottom: .5em;
                    font-size: .9em;
                }
        
                input {
                    display: block;
                    padding: .5em;
                    width: 100%;
        
                    
                }
        
                select#camp {
                    padding: .5em;
                    width: calc(100% - 55px);
                    display: inline-block;
                }
        
                    
                

            }

        }


    }

}