/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

body {
  min-height: 100%;
  background-color: #fafafa;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  transition: margin-left 0.5s;
}