main {
    min-height: 25em;
    text-align: center;
    padding: 10em 0;

    span {

        font-size: 5em;
    }

    h1 {
        margin: 1em;
    }

    a {
        background-color: #336699;
        color: #fff;
        padding: .5em 1em;
        text-transform: uppercase;
    }
    

}